Repository nextcloud/activity, pull requests merged in 2024-09, with the labels that each got.

#1769 [master] Update nextcloud/ocp dependency
  composer.lock
Labels: 3. to review, dependencies

#1773 [master] Update nextcloud/ocp dependency
  composer.lock
Labels: 3. to review, dependencies

#1785 chore: Use composer-bin-plugin to manage dev deps
  .github/workflows/update-nextcloud-ocp.yml
  composer.json
  composer.lock
  lib/Data.php
  lib/FilesHooks.php
  psalm.xml
  vendor-bin/cs-fixer/composer.lock
  vendor-bin/psalm/composer.json
  vendor-bin/psalm/composer.lock
Labels: 3. to review, php, dependencies

#1788 chore: Move phpunit in composer bin
  composer.json
  composer.lock
  vendor-bin/phpunit/composer.json
  vendor-bin/phpunit/composer.lock
Labels: 3. to review, php, dependencies

#1790 chore: drop usages of deprecated ILogger interface
  tests/Controller/ActivitiesControllerTest.php
Labels: 2. developing, technical debt

#1793 Remove requiring PNG for iOS
  lib/Controller/APIv2Controller.php
  tests/Controller/APIv1ControllerTest.php
Labels: 3. to review, backport-request, php
